*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: pixelLetter;
    src: url(../fonts/SyneMono-Regular.ttf);
}

@font-face {
    font-family: pixelLetter2;
    src: url(../fonts/VT323-Regular.ttf);
}

@font-face {
  font-family: codebar;
  src: url(../fonts/LibreBarcode39Extended-Regular.ttf);
}


/*HOME WANNA PLAY A GAME?*/*

.bodyHome{
    background-image: url(../sources/img/tv3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 576px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.bodyHome h2{
  
  color: rgb(255, 255, 255);
  font-family: pixelLetter2;
  font-size: 150%;
  max-width: 576px;
  width: 25px;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
  text2 4s steps(18) alternate infinite;
  position: absolute;
  top: 100px;
}

.options{

display: flex;
gap: 10px;

}

.options button{

  font-family: pixelLetter2;
  font-size: 130%;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(12, 0, 0);
  padding: 2px 5px 2px 5px;
  background-color: white;

}

.options button:hover{

  background-color: black;
  color: white;
}




h1{

color:#ffffff;
font-family: pixelLetter2;
  font-size:400%;
  animation: text-flicker 3s linear infinite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

h3{
  color: white;
}

#offset{
    animation: letter-flicker 2s linear infinite;
}


/*BLACKJACK GAME*/

.bodyBj{
  max-width: 576px;
  min-height: 100vh;
}

.bodyGameOver{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: background-color 1s linear;
}

.mainBj{
  max-width: 576px;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;


}

.gameOverFx{
  color: black;
  font-family: pixelLetter2;
  font-size: 460%;
  max-width: 576px;
  width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 6s steps(18) alternate infinite;
 
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 10.5ch; 
  }
}

@keyframes text2 {
	0% { 
    width: 0; 
  }
	100% { 
    width: 28ch; 
  }
}

.containerGame{
  min-width: 315px;
  height: 100vh;
  display: grid;
  grid-template-rows: 8% 84% 8%;
  font-family: PixelLetter2;
  letter-spacing: 6px;
  justify-content: center;
}


  

.avatarIa{
  display: grid;
  grid-template-columns: 75% 25%;
  
}

.iaCardPts{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
#iaHandPts{
  color: white;
  font-family: pixelLetter2;
  font-size: 300%;
  animation: letter-flicker 2s linear infinite;
  
}

#playerCard{
  margin-right: -40px;
}

#playerCard img:hover{
  width: 85px;
  margin-top: -10px;
}

button{
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 2px;
}

button:hover{
  background-color: white;
  color: black;

}
#iaCard{
  margin-right: -40px;
}

#iaCard img:hover{
  width: 85px;
}

.playerCardPts{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerHandPts{

  color: white;
  font-family: pixelLetter2;
  font-size: 300%;
  animation: letter-flicker 3.5s linear infinite;

}

#hiddenCard{
  margin-right: -40px;
  
}

#hiddenCard img:hover{
  width: 85px;
}

.name1{
  color: white;
  margin: 15px;
  font-size: 125%;
}

.avatarPlayer{
  display: grid;
  grid-template-columns: 25% 75%;

}

.containerTags{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;

  }

.name2{
  color: white;
  margin: 5px 50px 5px 15px;
  font-size: 125%;

}

.coinsPlayer{
  color: white;
  letter-spacing: 3px;
  font-size: 100%;
  margin-right:5px;
}

.playground{
  display: grid;
  justify-content: center;
  grid-auto-rows: 45% 10% 45%;
  min-width: 315px;

}

  
    .betHolder{
      display: flex;
      flex-direction: row;
      margin: auto;
      
    }
 


.playgIa{

  border: 1px solid white;
  display: flex;
  justify-content: center;
  min-width: 315px;
}


.playgPlayer{
  
  display: grid;
  grid-template-rows: 70% 15% 15%;
  border: 1px solid white;
  min-width: 315px;
}

.cardsPlayer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: -40px;


}

.cardsPlayer img{
  width: 70px;
}

.cardsIa{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: -40px;
}

.cardsIa img{
  width: 70px;
}

.betPlayer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.betPlayer img:hover{
  width: 40px;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.hidd{
  display: none;
}


/* PREGUNTA NOMBRE */

.bodyAsk{
  max-width: 576px;
  height: 100vh;
  background-color: rgb(4, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  gap: 10px;
}

.bodyAsk h1{
  font-size: 280%;
}

.bodyAsk input[type='text'] {
  font-family: pixelLetter2;
  letter-spacing: 10px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;

}

.send{

  font-family: pixelLetter2;
  
  color: white;
  font-size: 95%;
  border-bottom: 0.5px solid white;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-top: 4px;
  background-color: transparent;


}


/*ANIMACIONES*/

@keyframes text-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    
    2% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    8% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    9% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    12% {
      opacity:0.1;
      text-shadow: 0px 0px rgb(0, 0, 0);
    }
    20% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }
    25% {
      opacity:0.3;
      text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }
    30% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }
    
    70% {
      opacity:0.7;
      text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }
    
    72% {
      opacity:0.2;
      text-shadow:0px 0px 29px rgb(0, 0, 0)
    }
    
    77% {
      opacity:.9;
      text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }
    100% {
      opacity:.9;
      text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }
  }
  
  
  @keyframes letter-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    2% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    4% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    
    
    19% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    21% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    23% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    
    80% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    83% {
      opacity:0.4;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
    87% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }
  }

  @keyframes letter-flicker2 {
    0% {
      opacity:0.1;   
    }
    2% {
      opacity:0.1;
    }
    4% {
      opacity:1;
    }
    
    19% {
      opacity:1;
     }
    21% {
      opacity:0.1;
    }
    23% {
      opacity:1;
    }
    80% {
      opacity:1;
    }
    83% {
      opacity:0.4;
    }
    87% {
      opacity:1;

    }
  }

  /* ANIMACION IMPUT NEON */
  
  
  :root {
  --neon-main: #F7F3F7;
  --neon-shadow: #9d1212;
  --neon-main-glitch: #ffffffc2;
  --neon-text-glitch: #ffffff88;
  --neon-shadow-glitch: rgba(112, 1, 1, 0.76);
}

.neon-label_disabled {
  color: var(--neon-main-glitch);
  text-shadow: 0 0 0px var(--neon-shadow);
  animation: none;
}


.neon-input {
  border-radius: 25px;
  width: 60%;
  box-shadow: 0px 0px 15px 4px var(--neon-shadow), inset 0px 0px 15px 4px var(--neon-shadow);
  border: 3px solid var(--neon-main);
  background-color: transparent;
  color: var(--neon-main);
  outline: none !important;
  padding: 7px 20px;
  animation: neon-input-glitch 3s steps(1) infinite;
  font-style: pixelLetter2;
}

.neon-input:focus {
  box-shadow: 0px 0px 30px 10px var(--neon-shadow), inset 0px 0px 15px 7px var(--neon-shadow);
  animation: none;
}

@keyframes neon-input-glitch {
  0% {
    box-shadow: 0px 0px 15px 4px var(--neon-shadow), inset 0px 0px 15px 4px var(--neon-shadow);    
  }
  
  85% {
    box-shadow: 0px 0px 15px 4px var(--neon-shadow), inset 0px 0px 15px 4px var(--neon-shadow);
  }
  
  90% {
    box-shadow: 0px 0px 10px 4px var(--neon-shadow-glitch), inset 0px 0px 10px 4px var(--neon-shadow-glitch);
  }
  
  100% {
    box-shadow: 0px 0px 15px 4px var(--neon-shadow), inset 0px 0px 15px 4px var(--neon-shadow);
  }
}



#snakeBody{
  display: grid;
  grid-template-rows: 50% 40px 90px;
  max-width: 576px;
  height: 100vh;
  margin-top: 70px;
}

#snakeBody h1{
  color: black;
}

.containerCanvas{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.containerCanvas h3{
  
  color: black;
}

.gameStats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.gameStats h3{
  color: black;
  margin-right: 50px;
  font-family: pixelLetter2;
}

#board{
  border: 2px black solid;
}

.letStyle{
  font-family: pixelLetter2;
  font-size: 180%;
  margin-top: 10px;
  animation: letter-flicker2 2s linear infinite;
}

.buttonStyle2{
  font-family: pixelLetter2;
  font-size: 130%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  
  
}

.buttonStyle2:hover{
  background-color: black;
  color: white;
}


.bodyGames{
  background-image: url(../sources/img/tv-noise.jpg);
  animation: animate 0.2s linear infinite;
  border: 1px solid black;
  max-width: 576px;
  min-height: 100vh;

}

@keyframes animate {
	0% { 
    background-position: 0 0;
  }
	100% { 
    background-position: 100% 100% ;
  }
}

.containerGames{

  display: grid;
  grid-template-rows: 20% 40% 40%;
  gap: 30px;
}

.containerSnake{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin: 20px;
}


.containerBj{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.containerGames img{

  width: 40%;
}

.containerGames a{
  display: flex;
  justify-content: center;
}


.containerGames h1{

  font-size:150%;
  color: rgb(0, 0, 0);
  margin: 50px auto 30px auto;

}

.containerGames h2{

  font-family: pixelLetter2;
  font-size: 150%;
  letter-spacing: 10px;
}

.arrowsSnake{
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows:30px 30px 30px;

  justify-content: center;
  align-items: center;

  grid-template-areas: 
  ". up ."
  "lef . rig"
  ". down .";

}

.arrowsSnake img{

  width: 55px;
}

#u-arrow{
  grid-area: up;
  transform: rotate(180deg);
}

#r-arrow{
  grid-area: rig;
  transform: rotate(270deg);
}

#d-arrow{
  grid-area: down;
}

#l-arrow{
  grid-area: lef;
  transform: rotate(90deg);
}
